form {
    margin: 0 auto;
    width: 300px;
    display: block;
}

form div {
    padding: 5px 0;
}

form label {
    display: inline;
    padding: 0 10px;
}

form input[type=text] {
    padding: 5px;
}

form input[type=submit] {
    border: none;
    background-color: green;
    border-radius: 3px;
    margin: 10px;
    padding: 5px 10px;
    float: right;
    color: white;
}